.add-button{
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button .added-image{
  position: absolute;
  z-index: 1;
}

.add-button:hover{
  cursor: pointer;
  background-color: var(--primary-color-active);
}

.add-button input{
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 3;
  width: 2.2rem;
  height: 2.2rem;
}