.button, .button-white, .not-found-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: var(--form-radious);
  background-color: var(--primary-color);
  width: 100%;
  height: 3.6rem;
  border: none;
  color: white;
  cursor:pointer;
}

.button:active{
  background-color: var(--primary-color-active);
}

.button:hover{
  box-shadow: var(--input-shadow);
}

.button-white{
  background-color: white;
  border: var(--primary-color) 2px solid;
  color: var(--primary-color);
}

.button-white:hover{
  border: var(--primary-color-active) 2px solid;
  color: var(--primary-color-active);
}

.button-white:active{
  background-color: var(--form-color);
}

.drop-button{
  position: absolute;
  left: 16px;
  bottom: 1.2rem;
  width: calc(100% - 32px);
  max-width: 100%;
}

.not-found-button{
  width: 10rem;
  background-color: white;
  color: var(--primary-color);
}

.not-found-button:hover{
  box-shadow: 2px 2px 4px var(--primary-color-active);
}