.cart-count{
  width: calc(100vw - 32px);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  max-width: calc(100% - 32px);
  bottom: 1.2rem;
}

.count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--form-radious);
  padding: 8px;
  height: 4rem;
  background-color: var(--form-color);
  font-weight: 500;
}