.categories, .categories-mobile{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  gap: 1rem;
  padding: 4px 4px 8px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.categories{
  margin-bottom: 8px;
}

.categories a{
  display: inline-block;
  color: lightgray;
  font-size: var(--small-size);
  cursor: pointer;
  padding: 4px;
  text-decoration: none;
}

.categories a:hover{
  color: var(--primary-color);
}

.categories a:hover{
  border-radius: var(--form-radious);
  outline: 1px solid var(--primary-color);
}

.categories-mobile{
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px rgba(211, 211, 211, 0.319) solid;
  padding: 0 0 16px;
  overflow: hidden;
}

.categories-mobile a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

@media (min-width:550px){
  .categories{
    margin: 0;
  }
}