/* Arreglar la scrollbar */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --large-size:2.8rem;
  --medium-size:1.2rem;
  --small-size:1rem;

  --primary-color:#acd9b2;
  --primary-color-active:#7fb185;
  --form-color:#f7f7f7;

  --form-radious:12px;
  --input-shadow: 2px 2px 4px lightgray
}
body{
  font-family: "quicksand";
  /* min-height: 100vh;
  position: relative; */
}

button,p,span,a,input{
  font-size: var(--medium-size);
}

a:hover{
  color: var(--primary-color-active);
}

.price{
  font-weight: 500;
}

.article{
  font-size: var(--small-size);
  font-weight: 300;
}

*::-webkit-scrollbar{
  height: 4px;
  width: 12px;
  background: rgba(233, 233, 233, 0.462);
}
*::-webkit-scrollbar-thumb{
  height: 4px;
  background: lightgray;
  border-radius: 8px;
}

/* main{

}  min-height: 100%;
  width: 100%;
  margin: 0 auto; */