html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Arreglar la scrollbar */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --large-size:2.8rem;
  --medium-size:1.2rem;
  --small-size:1rem;

  --primary-color:#acd9b2;
  --primary-color-active:#7fb185;
  --form-color:#f7f7f7;

  --form-radious:12px;
  --input-shadow: 2px 2px 4px lightgray
}
body{
  font-family: "quicksand";
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

button,p,span,a,input{
  font-size: var(--medium-size);
  text-decoration: none;
}

a:hover{
  color: var(--primary-color-active);
  cursor: pointer;
}

.price{
  font-weight: 500;
}

.article{
  font-size: var(--small-size);
  font-weight: 300;
}

*::-webkit-scrollbar{
  height: 4px;
  width: 12px;
  background: rgba(233, 233, 233, 0.462);
}
*::-webkit-scrollbar-thumb{
  height: 4px;
  background: lightgray;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover{
  background-color: gray;
}

#errors-p{
  text-align: justify;
  color: #dd7b7b;
}