nav ul{
  z-index: 1;
  background-color: white;
  position: fixed;
  height: 3.5rem;
  width: 100vw;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3.5rem; */
  box-shadow: 1px 1px 10px lightgrey;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vmin;
}

nav li{
  list-style: none;
}

nav .title__text, nav .title__text--active{
  font-size: 1.6rem;
}

nav .title{
  align-items: center;
  margin: 0;
}

.title-categories-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title-categories-container .title__text{
  color: black;
}

nav .categories{
  margin: 0;
  padding: 8px;
  overflow: hidden;
  display: none;
}

.account-cart-container{
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.account-cart-container .nav-email{
  display: none;
  cursor: pointer;
}

.deploy-menu:hover img{
  transform: rotate(90deg);
  transition: transform .5s;
}

nav .nav-email img{
  transition: transform 1.5s;
}

nav .nav-email:hover + div{
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms ease-in;
}
nav .nav-email + div:hover{
  visibility: visible;
  transition: opacity 1.5s ease-in;
  opacity: 1;
}

@media (min-width: 550px) {
  .menu-container{
    display: none;
  }

  .account-cart-container .nav-email{
    display: flex;
  }
}
@media (min-width: 900px) {
  .categories{
    display: none;
  }
  nav .categories{
    width: 500%;
    display: block;        
  }
}