.Nav ul{
  z-index: 1;
  background-color: white;
  position: fixed;
  height: 3.5rem;
  width: 100vw;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3.5rem; */
  box-shadow: 1px 1px 10px lightgrey;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vmin;
}

.Nav li{
  list-style: none;
}

/* nav .title__text, nav .title__text--active{
  font-size: 1.6rem;
} */

.title-categories-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title-categories-container .title__text{
  color: black;
}



.account-cart-container{
  height: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* display: none; */
}

.nav-email{
  display: none;
  cursor: pointer;
}
/* account-cart-container */
.nav-email p{
  align-self: center;
  color: gray;
}

.deploy-menu:hover img{
  transform: rotate(90deg);
  transition: transform .5s;
}

.deploy-menu{
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-email img{
  transition: transform 1.5s;
}

.nav-email:hover + div{
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms ease-in;
}
.nav-email + div:hover{
  visibility: visible;
  transition: opacity 1.5s ease-in;
  opacity: 1;
}


.cartIcon-count{
  display: flex;
  justify-items: flex-start;
  width: 2.8rem;
}

.cart-icon{
  position: relative;
}

.cartIcon-count p{
  text-align: end;
  width: .9rem;
}

.product-added{
  position: absolute;
  top: -.2rem;
  right: 0;
  /* top: .7rem;
  right: calc(2vw + 1rem); */
  width: .8rem;
  height: .8rem;
  border-radius: 50%;

  background-color: var(--primary-color);
}


.cartIcon-count{
  position: relative;
  align-items: center;
}

.active-cart{
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  display: none;
  /* background-color: aqua; */
}


/* .nav-shopping-cart *{
  position: relative;  
} */

@media (min-width: 550px) {
  .menu-container{
    display: none;
  }

  .nav-email{
    display: flex;
  }
  .active-cart{
    display: block;
  }
}