/* header{
  position: absolute;

} */

nav ul{
  z-index: 1;
  height: 3.5rem;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  box-shadow: 1px 1px 10px lightgrey;
  justify-content: space-between;
  align-items: center;
  padding: 4vmin;
}

nav ul li{
  list-style: none;
}

/* .nav__cart{
  width: 1.6rem;
  height: 1.6rem;
} */

/* .nav__menu{
  width: 2rem;
  height: 2rem;
} */
/* 
nav .menu-icon, .cart-icon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 100%;
  height: 100%;

} */

nav .title__text, nav .title__text--active{
  font-size: 1.6rem;
}

nav .title{
  align-items: center;
  /* height: max-content; */
  margin: 0;
  
}

/* nav .title__logo{
  width: 1.2rem;
  height: 1.2rem;
} */
