@media (min-width:550px){
  .search-components{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 22rem;
    margin: 0 auto;
  }  

  .home-product{
    padding: 12px;
    margin: 0;
  }
}

@media (min-width:900px){
  .search-components{
    width: 100%;
  }
}