.orders-account a, .account-info a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.orders-account{
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.account-info{
  position: relative;
  bottom: 0;
}

.account-info span{
  color: lightgray;
}

.account-info a, .account-info span{
  font-size: var(--small-size);
}

.account-info a{
  width: max-content;
  color: var(--primary-color);
}