.link-button-container{
    display: flex;
    width: 100%;
    height: max-content;
    place-content: center;
    align-items: center;
    text-align: center;

}
.link-button-container a{
    color: var(--primary-color);
    text-decoration: none;
}

.link-button-container a:hover{
    color:var(--primary-color-active)
}