.main, .main-header, .main-home-open{
  display: flex;
  flex-direction: column;
  gap: 1.2rem ;
  padding: 16px;
  max-width: 24rem;
  min-height: 100vh;
  margin: auto;
  position: relative;
}

.main-header{
  padding-top: 1.2rem;
  min-height: calc(100vh - 3.5rem);
}

.main-home-open{
  margin-right: auto;
  transition: margin-right 1.5s;
}

@media (min-width: 550px){
  .main-pc, .main-home, .main-home-open{
    /* background-color: lightgray; */
    max-width: none;
    margin-right: 0;
    transition: margin-right 1.5s;
  }
  .main-home-open{
    margin-right: 35vw;
    transition: margin-right 1s;
  }
}

@media(min-width:750px){
  .main-home-open{
    /* background-color: aqua; */
    margin-right: 20rem;
    /* margin-right: 40vw; */
    transition: margin-right 1s;
  }  
}
