.main, .main-header, .main-home-open{
  display: flex;
  flex-direction: column;
  gap: 1.2rem ;
  padding: 16px;
  max-width: 24rem;
  min-height: 100vh;
  margin: auto;
  position: relative;
}

.main-header{
  /* padding-top: 3.5rem; */
  min-height: calc(100vh - 3.8rem);
}

.main-home-open{
  margin-right: 100vw;
  overflow-y: hidden;
}


.main-pc, .main-home-open, .main-home-open-left{
  display: block;
  padding: 0;
  transition: margin-right 1.5s, margin-left 1.5s;;
  max-width: none;
  overflow-x: hidden;
}

/* .main-home-open-left{
  height: 100vh;
  scroll-behavior: contain;
  overflow: hidden;
} */

@media (min-width: 550px){
  .main-pc, .main-home, .main-home-open{
    max-width: none;
    margin-right: 0;
    transition: margin-right 1.5s;
  }
  .main-home-open{
    margin-right: 40vw;
    transition: margin-right 1s;
  }
  .main-home-open-left{
    margin: 0;
  }
}

@media(min-width:900px){
  .main-home-open{
    margin-right: 25vw;
    /* background-color: aqua; */
    /* margin-right: 20rem; */
    /* margin-right: 40vw; */
    /* transition: margin-right 1s; */
  }  
}
