.nav-menu{
  position: absolute;
  z-index: 100;
  top: 3.5rem;
  right: 3.5rem;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 1rem;

  padding: 16px;
  background-color: white;
  box-shadow: 1px 1px 4px lightgray, -1px -1px 4px lightgray;
  border-radius: var(--form-radious);
  opacity: 0;

  visibility: hidden;
  transition: all 1.5s;
  font-weight: 500;
}

.nav-menu a{
  color: var(--primary-color);
}

.nav-menu .settings{
  gap: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}

.nav-menu .settings a{
  color: black;
}

.nav-menu .settings a:hover{
  color: var(--primary-color-active);
}