.order{
  width: 100%;
  height: 4rem;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--form-color);
  border-radius: var(--form-radious);
}

.order div:nth-child(1){
  display: flex;
  flex-direction: column;
}

.date{
  font-weight: 500;
}

.number-of-articles{
  font-size: var(--small-size);
}

.price{
  font-weight: 500;
}