.order{
  width: 100%;
  height: 4rem;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--form-radious);
  margin-bottom: 1.2rem;
}

.order-selected{
  position: absolute;
  width: 94%;
  height: 4rem;
  opacity: 0;
  cursor: pointer;
}

.order-selected:checked + .order{
  background-color: var(--form-color);
}

.order-selected:checked + .order img{
  transform: rotate(90deg);
}

.order-selected:checked ~ .order-products{
  transition: height 1s;
  height: calc(15rem);
}

.order-selected:hover + .order{
  background-color: lightgray;
}

.order div:nth-child(1){
  display: flex;
  flex-direction: column;
}

.date{
  font-weight: 500;
}

.number-of-articles{
  font-size: var(--small-size);
}

.order__price{
  display: flex;
  align-items: center;
}

.order-products{
  transition: height 1.5s;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}