.product, .product-order{
  display: flex;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: space-between;
}

.description img{
  width: 3.6rem;
  border-radius: var(--form-radious);
}

.product div, .product-order div{
  display: flex;
  align-items: center;
  gap: .8rem;
}

.product-order .x{
  display: none;
}