.title{
  font-weight: 700;
  margin: auto;
  width: 100%;
  height: auto;
  margin: 8vh 0 calc(8vh - 1.2rem);
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: .8rem;
}

.title__text, .title__text--active{
  font-size: var(--large-size);
}

.title__text--active{
  color: var(--primary-color);
}

.title__logo{
  height: 2rem;
}

nav .title__logo{
  height: 1.6rem;
}